//Variables
$img-path: '../images/';

//Colors
$font-color: #000;
$sub-font-color: #999;
$header-background-color: #f7f7f7;
$main-background-color: #fff;
$language-bg-colors: #547980, #9DE0AD, #45ADA8, #E5FCC2, #774F38, #E08E79, #F1D4AF, #C5E0DC, #594F4F;

html, body {
  margin: 20px;
  font-size: 14px;
}

body {
  color: $font-color;
  background: $main-background-color;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
  padding-left: 8px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

div.repo-wrapper {
  width: 100%;
  height: auto;
}

form.add-user {
  clear: both;
  padding-left: 8px;
}

ul.repos {
  margin: 0;
  padding: 0;
  li {
    width: 390px;
    height: auto;
    float: left;
    border-radius: 2px;
    border: 1px solid #ddd;
    list-style: none;
    margin: 10px;
    h3 {
      margin: 0;
      background-color: $header-background-color;
      border-bottom: 1px solid #eee;
      line-height: 100%;
      padding: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      width: 380px;
      height: 32px;
      padding: 0;
      color: $sub-font-color;
      float: none;
      border: none;
      div.repo-info {
        width: 75%;
        float: left;
        display: block;
        span.last-updated {
          font-size: 12px;
        }
      }
      div.repo-stats {
        float: left;
        width: 23%;
        display: block;
        div.repo-forks, div.repo-watchers {
          width: 50px;
          padding-right: 18px;
          float: left;
          text-align: right;
          background-repeat: no-repeat;
          background-position-x: right;
        }
        div.repo-forks {
          background-image: url(#{$img-path}git-fav.gif);
        }
        div.repo-watchers {
          background-image: url(#{$img-path}git-fork.gif);
        }
      }
    }
  }
}

div.repo-overview {
  margin-left: 10px;
  ul.language-desc {
    li {
      float: left;
      list-style: none;
    }
  }
  .language-wrapper {
    width: 100%;
    height: 10px;
  }
  .language-gauge {
    height: 10px;
    background-color: #ffff00;
    display: block;
    float: left;
  }

  @for $i from 1 to length($language-bg-colors) {
    .language-gauge:nth-child(#{$i}) {
      background-color: nth($language-bg-colors, $i);
    }
  }
}