$font-color: #000;
$main-background: #fff;

html, body {
  margin: 20px;
  font-size: 14px;
}

body {
  color: $font-color;
  background: $main-background;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.repos {
  margin: 0;
  padding: 0;
  li {
    width: 400px;
    height: auto;
    float: left;
    border-radius: 2px;
    border: 1px solid #ddd;
    list-style: none;
    margin: 10px;
    h3 {
      margin: 0;
      border-bottom: 1px solid #eee;
      line-height: 100%;
      padding: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      width: 400px;
      height: 32px;
      padding: 0;
      float: none;
      border: none;
      div.repo-info {
        width: 75%;
        float: left;
        display: block;
        span.last-updated {
          font-size: 12px;
        }
      }
      div.repo-stats {
        float: left;
        width: 23%;
        display: block;
        div.repo-forks, div.repo-watchers {
          width: 45%;
          padding-right: 2%;
          float: left;
          text-align: center;
        }
      }
    }
  }
}
