$font-color: #000;
$sub-font-color: #999;
$main-background: #fff;

html, body {
  margin: 20px;
  font-size: 14px;
}

body {
  color: $font-color;
  background: $main-background;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

h1 {
  padding-left: 8px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

div.repo-wrapper {
  width: 100%;
  height: auto;
}

form.add-user {
  clear: both;
  padding-left: 8px;
}

ul.repos {
  margin: 0;
  padding: 0;
  li {
    width: 390px;
    height: auto;
    float: left;
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    list-style: none;
    margin: 10px;
    h3 {
      margin: 0;
      background-color: $main-background;
      border-bottom: 1px solid #eee;
      line-height: 100%;
      padding: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      width: 380px;
      height: 32px;
      padding: 0;
      color: $sub-font-color;
      float: none;
      border: none;
      div.repo-info {
        width: 75%;
        float: left;
        display: block;
        span.last-updated {
          font-size: 12px;
        }
      }
      div.repo-stats {
        float: left;
        width: 23%;
        display: block;
        div.repo-forks, div.repo-watchers {
          width: 32px;
          padding-right: 11px;
          float: left;
          text-align: center;
        }
      }
    }
  }
}
