<!doctype html>
<html ng-app>
	<head>
		<title>gitkoboard</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
		<script src="js/controller.js"></script>
		
		<!-- Styles -->
		<link rel="stylesheet" href="css/gitkoboard.css">
	</head>
	<body>
        <div ng-controller="FeedCtrl">
            <table>
                <tr>
                    <td></td>
                    <td>Watchers</td>
                </tr>
                <tr ng-repeat="repo in repos | orderBy:'-watchers_count'">
                    <td>{{ repo.language }}</td>
                    <td>{{ repo.name }}</td>
                    <td>{{ repo.updated_at | date:'medium'}}</td>
                    <td>{{ repo.forks_count }}</td>
                    <td>{{ repo.watchers_count }}</td>
                    <td>{{ repo.stargazers_count }}</td>
                </tr>
            </table>
            <ul>
                <li ng-repeat="details in jqueryRepo">{{ details }}</li>
            </ul>
            <p>{{ readme.content }}</p>
        </div>
	</body>
</html>