<h3><a href="https://github.com/{{ user }}/" target="_blank">{{ user }}</a></h3>
<ul>
    <li ng-repeat="repo in repos | orderBy:'-watchers_count' | limitTo: 20">
        <div class="repo-info">
            <a href="#/repo/{{ user }}/{{ repo.name }}">{{ repo.name }}</a><br />
            <span class="last-updated">Last updated: {{ repo.updated_at | date:'medium'}}</span>
        </div>
        <div class="repo-stats">
            <div class="repo-watchers">{{ repo.watchers_count }}</div>
            <div class="repo-forks">{{ repo.forks_count }}</div>
        </div>
    </li>
</ul>